<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}CIB-Ingenierie{% endblock %}</title>
        {% block stylesheets %}
        	{#<link rel="stylesheet" href="{{ asset('bootstrap-3.2.0/css/bootstrap.min.css') }}" type="text/css" media="all" />#}
        	<link rel="stylesheet" href="{{ asset('bootstrap-3.2.0/css/bootstrap.css') }}" type="text/css" media="all" />
        	<link rel="stylesheet" href="{{ asset('css/styleSheet.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('public/style.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('css/animate.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('css/font-awesome-4.1.0/css/font-awesome.css') }}" type="text/css" media="all" />

        {% endblock %}
        <link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css"/>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    
    <body {% block content %} {% endblock %}>
    <div class="page-header ">
    	<div class="topbar" style="background: #000000;"> {#style="z-index=12; padding:4px 0px; margin-left:4em;"#}
    		<div class="container" style="margin-bottom: 0;">
    		
				<p class="pull-right" style="margin: 0;"> <a href="{{ path('login') }}" data-toggle="model" data-target="#signIn" id="site-header"><span class="glyphicon glyphicon-user" style="margin-right: 0.5em;"></span>Connectez vous</a></p> {#id="site-header"#}
                <div class="modal fade" id="signIn" tabindex="-1" role="dialog" aria-labelledby="signInLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" style="border-bottom: 0;">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title dark-text" id="signInLabel">MONEPASS</h4>
                            </div>
                            <div class="modal-body">

                            </div>
                            <div class="modal-footer" style="border-top: 0;">

                            </div>
                        </div>
                    </div>
                 </div>
			</div>
		</div>
    	<nav class="navbar navbar-default" role="navigation">
  			<div class="container" style="padding-right:0; margin-bottom: 1px;">
    			<div class="navbar-header">
      				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        				<span class="sr-only">Toggle navigation</span>
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
      				</button>
      				<a class="navbar-brand" href="{{ path('cibWebsitecibIngenierieBundle_homepage') }}"><img src="{{ asset('image/logoIngenierieblanc.png') }}"  />{#<img src="{{ asset('image/333.png') }}"  />#}
                   {# <p style="font-family: Garamond, serif;
line-height: 1em;
color: #fff9d6;
font-weight:bold; transform:scale(1,2);
font-size: 33px; padding: 10px 7px 5px 5px; background: #ff0000;clear: both;
text-shadow:0px 0px 0 rgb(207,207,207),1px 1px 0 rgb(183,183,183), 2px 2px 0 rgb(160,160,160),3px 3px 2px rgba(0,0,0,0.2),3px 3px 1px rgba(0,0,0,0.5),0px 0px 2px rgba(0,0,0,.2);">CIB</p><p style="margin-top:25px; font-family: Arial, sans-serif;
line-height: 1em;
color: #ffffff;
font-weight:bold;
font-style:italic;
font-size: 12px;
text-shadow:0px 0px 0 rgb(137,147,137), 0px 1px 0 rgb(229,239,229),0px 2px 1px rgba(147,147,147,0.5),0px 2px 1px rgba(180,180,180,0.8),0px 0px 1px rgba(0,0,0,.2);">INGENIERIE</p>#}
                    </a> {#style="margin-right:10px;"#}

    			</div>
    			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      				<ul class="nav navbar-nav"> {#id="menu"#}
        <li {{ (app.request.attributes.get('_route') == 'cibWebsitecibIngenierieBundle_homepage') ? ' class="active"' }}><a href="{{ path('cibWebsitecibIngenierieBundle_homepage') }}">Home</a></li>

        <li {{ (app.request.attributes.get('_route') == 'cibWebsitecibIngenierieBundle_aboutpage') ? ' class="active"' }}><a href="{{ path('cibWebsitecibIngenierieBundle_aboutpage') }}">Societe</a></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Offres <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li {{ (app.request.attributes.get('_route') == 'cibWebsitecibIngenierieBundle_logicielspage') ? ' class="active"' }}><a href="{{ path('cibWebsitecibIngenierieBundle_logicielspage') }}">Logiciels</a></li>
            <li {{ (app.request.attributes.get('_route') == 'cibWebsitecibIngenierieBundle_materielspage') ? ' class="active"' }}><a href="{{ path('cibWebsitecibIngenierieBundle_materielspage') }}">Materiels</a></li>
            <li {{ (app.request.attributes.get('_route') == 'cibWebsitecibIngenierieBundle_servicespage') ? ' class="active"' }}><a href="{{ path('cibWebsitecibIngenierieBundle_servicespage') }}">Services</a></li>
            <li {{ (app.request.attributes.get('_route') == 'cibWebsitecibIngenierieBundle_financementpage') ? ' class="active"' }}><a href="{{ path('cibWebsitecibIngenierieBundle_financementpage') }}">Financement</a></li>
          </ul>
        </li>

        <li {{ (app.request.attributes.get('_route') == 'cibWebsitecibIngenierieBundle_contactpage') ? ' class="active"' }}><a href="{{ path('cibWebsitecibIngenierieBundle_contactpage') }}">Contact</a></li>
      </ul>
      
  
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>

        {% block body %}{% endblock %}
        

<footer style="background-color:#222222;">
<div class="container" style="margin-bottom: 0px;">

	<section class="top-footer">
	<div class="container">
	
	
		<div class="col-md-4 footer-col">
		<h4 class="footer-header">Nos Offres</h4>
			<ul class="list-unstyled">
				<li><a href="{{ path('cibWebsitecibIngenierieBundle_logicielspage') }}">Logiciels</a></li>
            	<li><a href="{{ path('cibWebsitecibIngenierieBundle_materielspage') }}">Materiels</a></li>
            	<li><a href="{{ path('cibWebsitecibIngenierieBundle_servicespage') }}">Services</a></li>
            	<li><a href="{{ path('cibWebsitecibIngenierieBundle_financementpage') }}">Financement</a></li>
			</ul>
		</div>
		<div class="col-md-4 footer-col">
			<h4 class="footer-header">Actualities</h4>
			<ul class="list-unstyled">
				<li><a href="#">sample1</a></li>
            	<li><a href="#">sample2</a></li>
            	<li><a href="#">sample3</a></li>
            	<li><a href="#">sample4</a></li>
			</ul>
		</div>
		<div class="col-md-4 footer-col">
			<h4 class="footer-header">CIB-Ingenierie</h4>
			<address>
				<p><a href="{{ path('cibWebsitecibIngenierieBundle_contactpage') }}" class="glyphicon glyphicon-map-marker faFormat location"></a>7 Rue du 35ème Régiment d’Aviation
				<br>
				    <p style="text-indent: 44px;">69500 BRON</p>
                </p>
				<p><span class="glyphicon glyphicon-earphone faFormat"></span>33(0)4 72 13 59 00</p>
                <p><span class="glyphicon glyphicon-earphone" style="margin-right: 6px;"><sub style="font-size: 10px;">FAX</sub></span> 33(0)4 78 54 37 23</p>
			</address>
		</div>
		
		</div>
	</section>
	<section class="bottom-footer">
		<center>Copyright &nbsp;<span class="glyphicon glyphicon-copyright-mark"></span> 2014 <a href="#" class="footer-header" style="color:#ff6666;">CIB-Ingenierie</a> / <a href="#">Mentiones Legales</a></center>
	</section>
</div>

</footer>
	

        {% block javascripts %}

        	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script src="{{ asset('bootstrap-3.2.0/js/bootstrap.js') }}" type="text/javascript"></script>
        	<script src="{{ asset('bootstrap-3.2.0/js/bootstrap.min.js') }}" type="text/javascript"></script>
        	<script src="{{ asset('bootstrap-3.2.0/js/bootstrap-hover-dropdown.js') }}" type="text/javascript"></script>
        {% endblock %}
    </body>
</html>
